@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

b, strong {
  font-weight: bold;
}

.bg-sub {
  background-color: #F0F4FE;
}

* {
	/* outline: 1px solid magenta; */
  overflow-x: hidden;
}

h2 {
  margin-top: 24px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 60px;
  font-family: 'Familjen Grotesk';
}

h3 {
  margin-top: 20px;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 40px;
  font-family: 'Familjen Grotesk';
}

h4 {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 24px;
  font-family: 'Familjen Grotesk';
}

ul {
  padding-left: 20px;
}

ol, ul, li {
  overflow-x: visible;
  list-style: disc;
  list-style-type: disc;
}

li::marker {
  color: black;
}

table {
  width: 100%;
}

th, td {
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
  border: 1px black solid;
}

.speakers {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, auto);
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

@media not all and (min-width: 768px) {
  .speakers {
    grid-template-columns: repeat(1, auto);
  }
}

.speaker h4 {
  font-weight: 700;
}

.speaker img {
  width: 160px;
  aspect-ratio: 1/1;
  border-radius: 2000px;
  margin: auto;
  object-fit: cover;
}

.sponsors {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, auto);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media not all and (min-width: 768px) {
  .sponsors {
    grid-template-columns: repeat(1, auto);
  }
}

.sponsors a img {
  max-height: 100px;
  object-fit: contain;
  margin: auto;
}

a {
  text-decoration: underline;
}

.bgin-button>a {
  text-decoration: inherit;
}

.bgin-button>a:hover {
  opacity: 0.4;
}